# ==========================
# RHC_Protocol_Core - .gitignore
# Proyecto base original que sirvió de referencia para OWASP
# ==========================

# Archivos temporales del sistema
.DS_Store
Thumbs.db
*.log

# Archivos de entorno
.env
*.env

# Dependencias y builds
node_modules/
dist/
build/
venv/
__pycache__/
tmp/
cache/

# Configuraciones del editor
.vscode/
.idea/

# Archivos de respaldo o temporales
*.bak
*.tmp
*.swp

# Archivos específicos de Laragon / entorno local
*.ini
*.conf
*.bak
logs/

# Otros Archivos
/Gemfile
/Gemfile.lock
/favicon.ico
_site/

# Archivos personales que NO se suben
.Notas_Generales.txt

# Archivos para la NUEVA PLATAFORMA OWASP NO se suben
# Contenido de la portada
.OWASP_Platform_Page_RHC.md
.OWASP_Platform_Page_RHC.docx

# Contenido de los ejemplos anteriores de la portada
.OWASP_examples_ANT.md